:root {
    --background-url: url(https://image.freepik.com/free-photo/flat-lay-arrangement-with-burgers-pizza_23-2148308817.jpg);
}

.header {
    padding: 14em 0 5em;
    color: #fff !important;
    background: var(--background-url), 
        radial-gradient(#777, rgb(173, 173, 173));
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.textCenter {
    text-align: center;
}

.backgroundWhite {
    background-color: #fff;
}

.textBlack {
    color: #333;
}

.positionRelative {
    position: relative;
}

.citySuggestion {
    position: absolute;
    color: #333;
    background-color: #fff;
    width: 96%;
    z-index: 99;
    margin: 2px;
}

